@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;

.vd-container {
    display: flex;
    padding: 24px 0;
    flex-direction: column;

    &__title {
        font-size: 3rem;
        margin: 16px 0;
        padding: 0 24px;


    }

    &__divider {
        width: 100%;
        height: 1px;
        background-color: $secondary-color-mercury;
    }

    &__invisible {
        @include tablet {
            display: none
        }
    }

    &__analytics {
        display: flex;
        flex-direction: row; 
        margin: 16px 0;

        @include tablet {
            justify-content: space-between;

        }
    }

    &__date-author, &__views-like  {
        display: flex;
        flex-direction: column;
        padding: 0 24px;


        @include tablet {
            flex-direction: row;
        }
    }

    &__views-like {
        margin-left:0;
    }

    &__author {
        display: flex;
        color: $secondary-color-darkblack;
        margin: 8px 0;
    }

    &__date {
        font-size: 1.2rem;
        color: $primary-color-silver;
        margin: 8px 0;

        @include tablet {
            margin: 8px 24px;
        }
    }

    &__views, &__likes {
        display: flex;
        flex-direction: row;
        margin: 8px 0;
        @include tablet {
            margin: 8px 24px;
        }
    }

    &__views-icon, &__likes-icon {
        width: 35px;
        @include tablet {
            width: 20px;
        }
    }

    &__likes-text, &__views-text {
        font-size: 1.4rem;
        margin: 0 0 0 24px;
        color: $primary-color-silver;
    }

    &__desp-text {
        font-size: 1.2rem;
        padding: 0 24px;

        @include tablet {
            font-size: 1rem;
        }
    }
}