@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;

.group-container {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        justify-content: center;
    }

    &__desp-comment {
        @include tablet {
            width: 65%;
        }
        
        @include desktop {
            width: 60%;
        }

    }

    &__divider {
        display: none;

        @include tablet {
            display: inline;
            width: 2px;
            background-color: $secondary-color-mercury;
        }
    }

    &__next-videos {
        @include tablet {
            width: 35%;
        }

        @include desktop {
            width: 30%;
        }
    }
}