$primary-color-black: #323232;
$secondary-color-darkblack: #000000;

$primary-color-silver: #AFAFAF;
$secondary-color-mercury: #E1E1E1;

$primary-color-white: #FFFFFF;
$secondary-color-alabaster: #FAFAFA;


$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
