@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;

.nv-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;

    &__title {
        padding: 8px;
        font-size: 1.3rem;
        margin: 0;
        color: $primary-color-silver;
    }

    &__list {
        list-style-type: none;
        padding: 0px;

        @include tablet {
            width: 50%;
        }
    }
}