@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;

.video-upload {
    display: flex;
    flex-direction: column;
    padding: 16px;


    @include desktop {
        
        width: 80vw;
        justify-content: center;
        margin: 0 auto;
    }

    &__top {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }
    }

    &__left {

        @include tablet {
            width: 40vw;
        }

        @include desktop {
            width: 30%;
        }
    }


    &__right {

        
        @include desktop {
            width: 70%;
            padding: 24px;
        }
    }

    &__button {
        @include desktop {
            width: 100% ;
        }

    }



}