@use "./styles/partials/variable" as * ;
@use "./styles/partials/mixins" as * ;
@use "./styles/partials/typograpgy" as * ;


#root {
  padding: 0px;
  margin: 0px;
  font-family: "Avenir", serif, sans-serif;
}
